@using HomeMoney.Core.Domain
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

<div id="App">
</div>

@section Scripts{
  <script src="/VueJS/Login.js"></script>
}