<!DOCTYPE html>
<html>
<head>
  <title>@ViewData["Title"]</title>
  @* use this to load also google icons *@
  @* https://materialdesignicons.com  *@
  @*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900%7CRoboto+Mono:500%7CMaterial+Icons" media="all">*@
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@@mdi/font@@3.x/css/materialdesignicons.min.css" rel="stylesheet">
  <!--<link href="https://cdn.jsdelivr.net/npm/vuetify@@2.x/dist/vuetify.min.css" rel="stylesheet">-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" crossorigin="anonymous">

</head>
<body>

@RenderBody()
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
@RenderSection("Scripts", false)

</body>
</html>